@import '../../scss-variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-container {
  border: #e8e8e8 solid 2px;
  border-radius: 0.25rem;
  display: flex;
  padding: 1.5rem 3rem;
  font-family: $roboto;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.083);
}

.book-info {
  width: 40%;
}

.category {
  font-size: 1rem;
  font-weight: 400;
  color: $gray;
  margin-bottom: 0.25rem;
}

.title {
  font-size: 1.8rem;
  color: $black1;
  font-weight: 700;
}

.author {
  font-size: 1rem;
  color: $blue2;
  font-weight: 200;
}

.actions {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 1.125rem;
  transform: translateX(-0.4rem);
}

.book-button {
  padding: 0 0.4rem;
  background: none;
  font-family: $roboto;
  font-size: 1rem;
  font-weight: 100;
  color: $blue2;
  border: none;
}

.book-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.remove-button {
  border: solid 2px;
  border-color: transparent $pink transparent $pink;
}

.progress {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: center;
}

.circle {
  width: 4.25rem;
  height: 4.25rem;
  border: solid 6px;
  border-radius: 50%;
  border-color: $pink $blue1 $blue1 $blue1;
  transform: rotate(-45deg);
}

.completed-number {
  font-family: $montserrat;
  font-size: 2rem;
  font-weight: 200;
  color: $black1;
}

.completed {
  color: $gray;
  font-size: 0.875rem;
  font-weight: 200;
}

span {
  height: 100px;
  width: 3px;
  background-color: $pink;
  align-self: center;
}

.chapter-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chapter-info h3 {
  color: $gray;
  font-size: 1rem;
  font-weight: 300;
}

.chapter-info h2 {
  font-size: 1rem;
  color: $black1;
  font-weight: 300;
}

.blue-button {
  height: 2rem;
  background-color: $blue1;
  color: white;
  padding: 0 1rem;
  font-family: $roboto;
  font-weight: 300;
  margin-top: auto;
  border: none;
  border-radius: 0.25rem;
}
